.header {
  width: 100%;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: center;
  background-color: #532d5a;
  color: white;
  font-family: "Barlow", sans-serif;
  font-size: 5vw;
  padding-bottom: 15px;
  box-shadow: 2px 2px 5px #465f70;
}
.header:hover {
  cursor: pointer;
  background-color: #ac7eb5;
}

@media (max-width: 1000px) {
  .header {
    padding-top: 15px;
    font-size: 6.4vw;
  }
}
